<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
      th:replace="~{base::Layout(~{::section})}">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <h1>Panel de Administración</h1>

<ul>
    <li><a href="/admin/usuarios">Gestionar Usuarios</a></li>
    <li><a href="/admin/productos">Gestionar Productos</a></li>
    <li><a href="/admin/pedidos">Ver Pedidos</a></li>
</ul>

</html>