<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
    <head>
        <title>Productos - Floristería VillaFlor</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <section>
            <div class="container mt-5">
                <h1 class="text-center mb-4">Nuestros Productos</h1>
                <div class="row">
                    <!-- Producto 1 -->
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm">
                            <img src="img/productos/Flor1.jpg" class="card-img-top" alt="Producto 1">
                            <div class="card-body">
                                <p class="card-text">Producto 1</p>
                                <p><b>$250</b></p>
                                <a href="#" class="btn btn-primary w-100">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                    <!-- Producto 2 -->
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm">
                            <img src="img/productos/Flor2.jpg" class="card-img-top" alt="Producto 2">
                            <div class="card-body">
                                <p class="card-text">Producto 2</p>
                                <p><b>$300</b></p>
                                <a href="#" class="btn btn-primary w-100">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                    <!-- Producto 3 -->
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm">
                            <img src="img/productos/Flor3.jpg" class="card-img-top" alt="Producto 3">
                            <div class="card-body">
                                <p class="card-text">Producto 3</p>
                                <p><b>$150</b></p>
                                <a href="#" class="btn btn-primary w-100">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                    <!-- Producto 4 -->
                    <div class="col-md-3 mb-4">
                        <div class="card shadow-sm">
                            <img src="img/productos/Flor4.jpg" class="card-img-top" alt="Producto 4">
                            <div class="card-body">
                                <p class="card-text">Producto 4</p>
                                <p><b>$350</b></p>
                                <a href="#" class="btn btn-primary w-100">Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
